<div class="flex justify-center">
  <picture
    class="absolute -z-[1] top-0 left-0 w-full xl:hidden"
    style="background-color: white"
  >
    <img src="assets/images/login.png" alt="background image" width="100%" />
  </picture>
  <app-stepper [currentStep]="currentStep" class="xl:hidden"></app-stepper>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    style="background-color: white"
    class="absolute top-[6.25rem] rounded-lg bg-neutral-white py-8 px-6 mx-5 xl:flex xl:w-[65%] xl:p-7"
  >
    <app-stepper
      [currentStep]="currentStep"
      class="hidden xl:block absolute xl:ml-8"
    ></app-stepper>
    <picture class="hidden xl:block">
      <img
        src="assets/images/bg-sidebar-desktop.svg"
        alt="background image"
        width="100%"
        class="rounded-lg"
      />
    </picture>

    <div
      class="xl:flex xl:flex-col xl:justify-between xl:mx-auto xl:mt-10 xl:max-w-[28.125rem]"
    >
      <!-- Step 1 -->
      <section *ngIf="currentStep === 1">
        <h1 class="text-2xl mb-2 font-bold xl:text-3xl">
          Environnement personnel
        </h1>
        <p class="text-neutral-cool-gray mb-5 xl:mb-8">
          Veuillez fournir votre nom, votre adresse e-mail et votre numéro de
          téléphone.
        </p>
        <div class="flex flex-col gap-1 text-xs">
          <div class="flex justify-between">
            <label class="xl:text-base">Nom</label>
            <p
              class="text-primary-strawberry-red font-semibold"
              *ngIf="
                form.controls['nom'].invalid &&
                (form.controls['nom'].dirty || form.controls['nom'].touched)
              "
            >
              Ce champ est obligatoire
            </p>
          </div>
          <input
            [ngClass]="{
              'border-primary-strawberry-red':
                form.controls['nom'].invalid &&
                (form.controls['nom'].dirty || form.controls['nom'].touched)
            }"
            formControlName="nom"
            class="border border-neutral-light-gray text-primary-marine focus:outline-none focus:border-primary-purplish-blue p-[0.625rem] rounded-md placeholder:font-medium xl:py-4 xl:placeholder:text-lg xl:placeholder:font-normal"
            type="text"
            required
            placeholder="e.g. cahdi bouzaine"
          />

          <div class="flex justify-between mt-2 xl:mt-5">
            <label class="xl:text-base">Adresse e-mail</label>
            <p
              class="text-primary-strawberry-red font-semibold"
              *ngIf="
                form.controls['email'].invalid &&
                (form.controls['email'].dirty || form.controls['email'].touched)
              "
            >
              Ce champ est obligatoire
            </p>
          </div>
          <input
            [ngClass]="{
              'border-primary-strawberry-red':
                form.controls['email'].invalid &&
                (form.controls['email'].dirty || form.controls['email'].touched)
            }"
            formControlName="email"
            class="border border-neutral-light-gray text-primary-marine focus:outline-none focus:border-primary-purplish-blue p-[0.625rem] rounded-md placeholder:font-medium xl:py-4 xl:placeholder:text-lg xl:placeholder:font-normal"
            type="email"
            required
            placeholder="e.g. stephenking@lorem.com"
          />
          <div class="flex justify-between mt-2 xl:mt-5">
            <label class="xl:text-base">Numéro de téléphone</label>
            <p
              class="text-primary-strawberry-red font-semibold"
              *ngIf="
                form.controls['tel'].invalid &&
                (form.controls['tel'].dirty || form.controls['tel'].touched)
              "
            >
              Ce champ est obligatoire
            </p>
          </div>
          <input
            [ngClass]="{
              'border-primary-strawberry-red':
                form.controls['tel'].invalid &&
                (form.controls['tel'].dirty || form.controls['tel'].touched)
            }"
            formControlName="tel"
            class="border border-neutral-light-gray text-primary-marine focus:outline-none focus:border-primary-purplish-blue p-[0.625rem] rounded-md placeholder:font-medium xl:py-4 xl:placeholder:text-lg xl:placeholder:font-normal"
            type="number"
            required
            placeholder="e.g. +1 234 567 890"
          />
        </div>
      </section>

      <!-- Step 2 -->

      <section class="mb-8" *ngIf="currentStep === 2">
        <h2 class="text-lg font-medium mb-3">Environnement personnel</h2>
        <ul class="grid grid-cols-1 gap-6">
          <li>
            <div class="text-neutral-cool-gray font-medium mb-1">civilite</div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="civilite"
                  value="H"
                  formControlName="civilite"
                />
                <span class="ml-2">Homme</span>
              </label>
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="civilite"
                  value="F"
                  formControlName="civilite"
                />
                <span class="ml-2">Femme</span>
              </label>
            </div>
          </li>
          <li>
            <div class="text-neutral-cool-gray font-medium mb-1">
              Year of Birth
            </div>
            <select
              name="anneDeNaissance"
              id="anneDeNaissance"
              formControlName="anneDeNaissance"
            >
              <option value="Avant 1957">Avant 1957</option>
              <option value="1957">1957</option>
              <option value="1958">1958</option>
              <option value="1959">1959</option>
              <option value="1960">1960</option>
              <option value="1961, avant 31/08">1961, avant 31/08</option>
              <option value="1961, après 31/08">1961, après 31/08</option>
              <option value="1962">1962</option>
              <option value="1963">1963</option>
              <option value="1964">1964</option>
              <option value="1965">1965</option>
              <option value="1966">1966</option>
              <option value="1967">1967</option>
              <option value="1968, et après">1968, et après</option>
              <!-- Avant 1957 □1957 □ 1958 □ 1959 □ 1960 □   1961, avant 31/08 □  1961, après 31/08 □
              1962 □ 1963 □ 1964 □ 1965 □ 1966 □ 1967 □ 1968, et après  □
              -->
            </select>
          </li>
          <li>
            <div class="text-neutral-cool-gray font-medium mb-1">
              Marital Status
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="checkbox"
                  (change)="updateMaritalStatus('Célibataire', $event)"
                />
                <span class="ml-2">Célibataire</span>
              </label>
              <!-- Célibataire □
Veuf □
Divorcé □
Marié ou remarié □
Pacs ou concubinage □-->
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="checkbox"
                  name="maritalStatus"
                  (change)="updateMaritalStatus('Veuf', $event)"
                />
                <span class="ml-2">Veuf</span>
              </label>
              <!-- Single □, Widowed □, Divorced □, Married or Remarried □, Cohabiting □ -->
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="checkbox"
                  (change)="updateMaritalStatus('Divorcé', $event)"
                />
                <span class="ml-2">Divorcé</span>
              </label>
              <!-- Add the rest of the marital status options -->
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="checkbox"
                  (change)="updateMaritalStatus('Marié ou remarié', $event)"
                />
                <span class="ml-2">Marié ou remarié</span>
              </label>
              <!-- Add the rest of the marital status options -->
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="checkbox"
                  (change)="updateMaritalStatus('Pacs ou concubinage', $event)"
                />
                <span class="ml-2">Pacs ou concubinage</span>
              </label>
              <!-- Add the rest of the marital status options -->
            </div>
          </li>
        </ul>
      </section>

      <!-- Step 3 -->

      <section class="mb-8" *ngIf="currentStep === 3">
        <h2 class="text-lg font-medium mb-3">Environnement personnel</h2>
        <ul class="grid grid-cols-1 gap-6">
          <li>
            <div class="text-neutral-cool-gray font-medium mb-1">
              Nombre d'enfants élevés
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="nombreDenfants"
                  value="0"
                  formControlName="nombreDenfants"
                />
                <span class="ml-2">0</span>
              </label>
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="nombreDenfants"
                  value="1"
                  formControlName="nombreDenfants"
                />
                <span class="ml-2">1</span>
              </label>
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="nombreDenfants"
                  value="2"
                  formControlName="nombreDenfants"
                />
                <span class="ml-2">2</span>
              </label>
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="nombreDenfants"
                  value="3"
                  formControlName="nombreDenfants"
                />
                <span class="ml-2">3</span>
              </label>
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="nombreDenfants"
                  value="4"
                  formControlName="nombreDenfants"
                />
                <span class="ml-2">4</span>
              </label>
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="nombreDenfants"
                  value="5"
                  formControlName="nombreDenfants"
                />
                <span class="ml-2">5</span>
              </label>
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="nombreDenfants"
                  value="6"
                  formControlName="nombreDenfants"
                />
                <span class="ml-2">6</span>
              </label>
            </div>
          </li>
          <li>
            <div class="text-neutral-cool-gray font-medium mb-1">
              Nombre d'enfants élevés
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="nombreDenfantsEleves"
                  value="IDEM"
                  formControlName="nombreDenfantsEleves"
                />
                <span class="ml-2">IDEM</span>
              </label>
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="nombreDenfantsEleves"
                  value="0"
                  formControlName="nombreDenfantsEleves"
                />
                <span class="ml-2">0</span>
              </label>
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="nombreDenfantsEleves"
                  value="1"
                  formControlName="nombreDenfantsEleves"
                />
                <span class="ml-2">1</span>
              </label>
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="nombreDenfantsEleves"
                  value="2"
                  formControlName="nombreDenfantsEleves"
                />
                <span class="ml-2">2</span>
              </label>
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="nombreDenfantsEleves"
                  value="3"
                  formControlName="nombreDenfantsEleves"
                />
                <span class="ml-2">3</span>
              </label>
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="nombreDenfantsEleves"
                  value="4"
                  formControlName="nombreDenfantsEleves"
                />
                <span class="ml-2">4</span>
              </label>
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="nombreDenfantsEleves"
                  value="5"
                  formControlName="nombreDenfantsEleves"
                />
                <span class="ml-2">5</span>
              </label>
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="nombreDenfantsEleves"
                  value="6"
                  formControlName="nombreDenfantsEleves"
                />
                <span class="ml-2">6</span>
              </label>
            </div>
          </li>

          <li>
            <div class="text-neutral-cool-gray font-medium mb-1">
              Etude supérieure
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="etudeSuperieure"
                  value="oui"
                  formControlName="etudeSuperieure"
                />
                <span class="ml-2">oui</span>
              </label>
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="etudeSuperieure"
                  value="non"
                  formControlName="etudeSuperieure"
                />
                <span class="ml-2">non</span>
              </label>
              <!-- Single □, Widowed □, Divorced □, Married or Remarried □, Cohabiting □ -->
            </div>
          </li>
          <li>
            <div class="text-neutral-cool-gray font-medium mb-1">
              Age souhaité de départ
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="ageSouhaiteDeDepart"
                  value="62"
                  formControlName="ageSouhaiteDeDepart"
                />
                <span class="ml-2">62</span>
              </label>
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="ageSouhaiteDeDepart"
                  value="63"
                  formControlName="ageSouhaiteDeDepart"
                />
                <span class="ml-2">63</span>
              </label>
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="ageSouhaiteDeDepart"
                  value="64"
                  formControlName="ageSouhaiteDeDepart"
                />
                <span class="ml-2">64</span>
              </label>
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="ageSouhaiteDeDepart"
                  value="65"
                  formControlName="ageSouhaiteDeDepart"
                />
                <span class="ml-2">65</span>
              </label>
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="ageSouhaiteDeDepart"
                  value="66"
                  formControlName="ageSouhaiteDeDepart"
                />
                <span class="ml-2">66</span>
              </label>
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="ageSouhaiteDeDepart"
                  value="67"
                  formControlName="ageSouhaiteDeDepart"
                />
                <span class="ml-2">67</span>
              </label>
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="ageSouhaiteDeDepart"
                  value="Dès que possible"
                  formControlName="ageSouhaiteDeDepart"
                />
                <span class="ml-2">Dès que possible</span>
              </label>
            </div>
          </li>
        </ul>
      </section>
      <!-- Step 4 -->
      <section class="mb-8" *ngIf="currentStep === 4">
        <h2 class="text-lg font-medium mb-3">Carrière professionnelle</h2>
        <ul class="grid grid-cols-1 gap-6">
          <li>
            <div class="text-neutral-cool-gray font-medium mb-1">
              Age de début d'activité professionnelle
            </div>
            <select
              name="ageDuDebutdactiviteProfessionnelle"
              id="ageDuDebutdactiviteProfessionnelle"
              formControlName="ageDuDebutdactiviteProfessionnelle"
            >
              <option value="5">Avant 16 ans</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
            </select>
          </li>
          <li>
            <div class="text-neutral-cool-gray font-medium mb-1">
              Dans votre carrière avez-vous été dans une ou plusieurs de ces
              situations?
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="checkbox"
                  (change)="
                    updateavezVousEte('Salarié du secteur privé', $event)
                  "
                />
                <span class="ml-2">Salarié du secteur privé</span>
              </label>
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="checkbox"
                  name="maritalStatus"
                  (change)="
                    updateavezVousEte('Avec changement demployeur', $event)
                  "
                />
                <span class="ml-2">Avec changement d'employeur</span>
              </label>
              <!--Salarié du secteur privé □
Avec changement d'employeur □
Salarié statut spécial (Ratp, SNCF…) □
Agent de l'Etat □
Travailleur non salarié  (indépendant) □
Profession libérale □
Cotisation > minimum □
Si Prof. Médicale ; conventionné □
Fonctionnaire □
Travail à l'étranger □
Plusieurs régimes en même temps □
Apprentissage, job étudiants ? □
Service militaire effectué  □ -->
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="checkbox"
                  (change)="
                    updateavezVousEte(
                      'Salarié statut spécial (Ratp, SNCF…)',
                      $event
                    )
                  "
                />
                <span class="ml-2">Salarié statut spécial (Ratp, SNCF…)</span>
              </label>
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="checkbox"
                  (change)="updateavezVousEte('Agent de lEtat', $event)"
                />
                <span class="ml-2">Agent de l'Etat</span>
              </label>
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="checkbox"
                  (change)="
                    updateavezVousEte(
                      'Travailleur non salarié  (indépendant)',
                      $event
                    )
                  "
                />
                <span class="ml-2">Travailleur non salarié (indépendant)</span>
              </label>
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="checkbox"
                  (change)="updateavezVousEte('Profession libérale', $event)"
                />
                <span class="ml-2">Profession libérale</span>
              </label>
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="checkbox"
                  (change)="updateavezVousEte('Cotisation > minimum', $event)"
                />
                <span class="ml-2">Cotisation > minimum</span>
              </label>
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="checkbox"
                  (change)="
                    updateavezVousEte(
                      'Si Prof. Médicale ; conventionné',
                      $event
                    )
                  "
                />
                <span class="ml-2">Si Prof. Médicale ; conventionné</span>
              </label>
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="checkbox"
                  (change)="updateavezVousEte('Fonctionnaire', $event)"
                />
                <span class="ml-2">Fonctionnaire</span>
              </label>
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="checkbox"
                  (change)="updateavezVousEte('Travail à létranger', $event)"
                />
                <span class="ml-2">Travail à l'étranger</span>
              </label>
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="checkbox"
                  (change)="
                    updateavezVousEte('Plusieurs régimes en même temps', $event)
                  "
                />
                <span class="ml-2">Plusieurs régimes en même temps</span>
              </label>
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="checkbox"
                  (change)="
                    updateavezVousEte('Apprentissage, job étudiants ?', $event)
                  "
                />
                <span class="ml-2">Apprentissage, job étudiants ?</span>
              </label>
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="checkbox"
                  (change)="
                    updateavezVousEte('Service militaire effectué', $event)
                  "
                />
                <span class="ml-2">Service militaire effectué</span>
              </label>
            </div>
          </li>
        </ul>
      </section>
      <!-- Step 5 -->
      <section class="mb-8" *ngIf="currentStep === 5">
        <h2 class="text-lg font-medium mb-3">Situation de non cotisation</h2>
        <ul class="grid grid-cols-1 gap-6">
          <li>
            <div class="text-neutral-cool-gray font-medium mb-1">
              Avez-vous rencontré une ou plusieurs de ces situations?
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="checkbox"
                  (change)="
                    updateavezVousRencontre('Arrêt maladie > 1 mois', $event)
                  "
                />
                <span class="ml-2">Arrêt maladie > 1 mois</span>
              </label>
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="checkbox"
                  name="maritalStatus"
                  (change)="
                    updateavezVousRencontre('Arrêt accident du travail', $event)
                  "
                />
                <span class="ml-2">Arrêt accident du travail</span>
              </label>
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="checkbox"
                  (change)="updateavezVousRencontre('Invalidité', $event)"
                />
                <span class="ml-2">Invalidité</span>
              </label>
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="checkbox"
                  (change)="updateavezVousRencontre('Chômage', $event)"
                />
                <span class="ml-2">Chômage</span>
              </label>
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="checkbox"
                  (change)="
                    updateavezVousRencontre(
                      'Congéz parental, dassistance…',
                      $event
                    )
                  "
                />
                <span class="ml-2">Congéz parental, d'assistance…</span>
              </label>
            </div>
          </li>
        </ul>
      </section>
      <!-- Step 6 -->
      <section class="mb-8" *ngIf="currentStep === 6">
        <h2 class="text-lg font-medium mb-3">Rémunération</h2>
        <ul class="grid grid-cols-1 gap-6">
          <li>
            <div class="text-neutral-cool-gray font-medium mb-1">
              Niveau actuel (net annuel avant impôts) ?
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="niveauActuel"
                  value="&lt;30k€"
                  formControlName="niveauActuel"
                />
                <span class="ml-2"> &lt;30k€ </span>
              </label>
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="niveauActuel"
                  value="30 à 80 k€"
                  formControlName="niveauActuel"
                />
                <span class="ml-2"> 30 à 80 k€</span>
              </label>
              <!--  <30k€  □  30 à 80 k€  □ > 80k€  □ -->
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="niveauActuel"
                  value=" &gt;80k€"
                  formControlName="niveauActuel"
                />
                <span class="ml-2"> &gt;80 k€</span>
              </label>
              <!--  <30k€  □  30 à 80 k€  □ > 80k€  □ -->
            </div>
          </li>
          <li>
            <div class="text-neutral-cool-gray font-medium mb-1">
              Son évolution durant la carrière?
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="evolution"
                  value="Croissante"
                  formControlName="evolution"
                />
                <span class="ml-2"> Croissante </span>
              </label>
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="evolution"
                  value="Plutôt décroissante"
                  formControlName="evolution"
                />
                <span class="ml-2"> Plutôt décroissante</span>
              </label>
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="evolution"
                  value=" Constante , suit l'inflation"
                  formControlName="evolution"
                />
                <span class="ml-2"> Constante , suit l'inflation</span>
              </label>
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="evolution"
                  value="Irrégulière"
                  formControlName="evolution"
                />
                <span class="ml-2"> Irrégulière </span>
              </label>
            </div>
          </li>
        </ul>
      </section>
      <!-- Step 7 -->
      <section class="mb-8" *ngIf="currentStep === 7">
        <h2 class="text-lg font-medium mb-3">
          Eventuels suppléments de retraite déjà souscrits
        </h2>
        <ul class="grid grid-cols-1 gap-6">
          <li>
            <div class="text-neutral-cool-gray font-medium mb-1">
              A titre individuel (PER, assurance vie…)
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="titreIndividuel"
                  value="oui"
                  formControlName="titreIndividuel"
                />
                <span class="ml-2"> oui </span>
              </label>
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="titreIndividuel"
                  value="non"
                  formControlName="titreIndividuel"
                />
                <span class="ml-2">non</span>
              </label>
            </div>
          </li>
          <li>
            <div class="text-neutral-cool-gray font-medium mb-1">
              A titre professionnel obligatoire (PERO...)
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="titreProfessionnelObligatoire"
                  value="oui"
                  formControlName="titreProfessionnelObligatoire"
                />
                <span class="ml-2"> oui </span>
              </label>
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="titreProfessionnelObligatoire"
                  value="non"
                  formControlName="titreProfessionnelObligatoire"
                />
                <span class="ml-2">non</span>
              </label>
            </div>
          </li>
          <li>
            <div class="text-neutral-cool-gray font-medium mb-1">
              A titre professionnel facultatif (PERCO, Madelin...)
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="titreProfessionnelFacultatif"
                  value="oui"
                  formControlName="titreProfessionnelFacultatif"
                />
                <span class="ml-2"> oui </span>
              </label>
            </div>
            <div class="flex gap-3">
              <label class="flex items-center cursor-pointer">
                <input
                  type="radio"
                  name="titreProfessionnelFacultatif"
                  value="non"
                  formControlName="titreProfessionnelFacultatif"
                />
                <span class="ml-2">non</span>
              </label>
            </div>
          </li>
        </ul>
      </section>

      <!-- Summary -->
      <section
        *ngIf="currentStep === 8 && !lastPage"
        class="xl:min-w-[26.25rem]"
      >
        <h2 class="text-2xl font-bold mb-2 xl:text-3xl">Finishing up</h2>
        <p class="text-neutral-cool-gray mb-5 xl:mb-8">
          Double-check everything looks OK before confirming.
        </p>

        <article
          class="bg-neutral-alabaster py-5 px-4 text-sm rounded-lg xl:text-base"
        >
          <div class="flex flex-col justify-between items-center">
            <p class="text-primary-marine font-bold" id="sumArcade"></p>
            <p>nom: {{ form.get("nom")?.value }}</p>
            <p>Email: {{ form.get("email")?.value }}</p>
            <p>tel: {{ form.get("tel")?.value }}</p>
            <p>civilite: {{ form.get("civilite")?.value }}</p>
            <p>Year of Birth: {{ form.get("anneDeNaissance")?.value }}</p>
            <p>Marital Status: {{ form.get("maritalStatus")?.value }}</p>
            <p>Avez-vous Ete: {{ form.get("avezVousEte")?.value }}</p>
            <p>
              Avez-vous Rencontre: {{ form.get("avezVousRencontre")?.value }}
            </p>
            <p>Number of Children: {{ form.get("nombreDenfants")?.value }}</p>
            <p>
              Number of Children Students:
              {{ form.get("nombreDenfantsEleves")?.value }}
            </p>
            <p>Higher Studies: {{ form.get("etudeSuperieure")?.value }}</p>
            <p>
              Desired Age of Departure:
              {{ form.get("ageSouhaiteDeDepart")?.value }}
            </p>
            <p>
              Age at the Start of Professional Activity:
              {{ form.get("ageDuDebutdactiviteProfessionnelle")?.value }}
            </p>
            <p>Current Level: {{ form.get("niveauActuel")?.value }}</p>
            <p>Evolution: {{ form.get("evolution")?.value }}</p>
            <p>Individual Title: {{ form.get("titreIndividuel")?.value }}</p>
            <p>
              Optional Professional Title:
              {{ form.get("titreProfessionnelFacultatif")?.value }}
            </p>
            <p>
              Mandatory Professional Title:
              {{ form.get("titreProfessionnelObligatoire")?.value }}
            </p>
          </div>
        </article>
      </section>

      <!-- Thank you -->
      <section
        class="flex flex-col py-14 items-center text-center xl:mt-16"
        *ngIf="lastPage"
      ></section>

      <!-- Nav -->
      <nav
        *ngIf="!lastPage"
        class="fixed bottom-0 w-screen left-0 p-5 text-base flex justify-between bg-neutral-white xl:relative xl:p-0 xl:mb-5 xl:min-w-[28.125rem] xl:max-w-[28.125rem]"
        [ngClass]="{ 'flex-row-reverse': currentStep === 1 }"
      >
        <button
          *ngIf="currentStep >= 2"
          (click)="changePage(false)"
          type="button"
          class="text-neutral-cool-gray px-3 py-2 rounded hover:text-primary-marine"
        >
          Retourner
        </button>
        <button
          [disabled]="form.invalid"
          *ngIf="currentStep !== 8"
          (click)="changePage(true)"
          type="button"
          class="bg-primary-marine text-neutral-magnolia px-5 py-2 rounded disabled:bg-neutral-cool-gray hover:bg-opacity-90 xl:px-7 xl:py-3 xl:rounded-lg"
          style="background-color: rgb(144, 0, 255); color: white"
        >
          L'étape suivante
        </button>
        <button
          *ngIf="currentStep === 8"
          type="submit"
          class="bg-primary-purplish-blue text-neutral-magnolia px-6 py-[0.625rem] rounded hover:bg-opacity-90 xl:px-7 xl:py-3 xl:rounded-lg"
        >
          Confirmer
        </button>
      </nav>
    </div>
  </form>
</div>
