

.results {
    width: 80%;
    margin: 100px auto;
    min-height: 300px;
    display: grid;  
    grid-template-columns:  1fr;
    gap: 10px;
    .box {
      min-height: 200px;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background-color: white;
      .top {
        display: grid;
        grid-template-columns: 100px 1fr;
        justify-content: start;
        justify-items: start;
        align-items: center;
        margin-top: 20px;
        h2 {
          font-size: 32px;
          font-weight: bold;
        }
        img {
          width: 80px;
          justify-self: center;
        }
      }
      .body {
        padding: 20px ;
      }
    }
  }

  .book {
    display: grid;
    place-content: center;
    margin-bottom: 50px;
    .custom {
        background-color: #960087 ;
        padding: 15px;
        color: white;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
    }
  }

  @media only screen and (max-width: 600px) {
    .results {
      width: 95%;
      margin-top: 20px;
      .box {
        .top {
          h2 {
            font-size: 24px;
            font-weight: bold;
            
          }
        }
        .body {
          font-size: 16px;
        }
      }
      
    }
  }